Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

docs: Fix some confusing wording in various D-Bus docs
  man/org.freedesktop.locale1.xml
  man/org.freedesktop.login1.xml
  man/org.freedesktop.timedate1.xml
Labels: documentation, timedate

ukify: do not fail if pefile complains about hardcoded 256MB limit
  src/ukify/ukify.py
Labels: uki

mkosi: disable secure boot check as GHA cannot enable it due to hyperv bug
  mkosi.images/system/mkosi.extra/usr/lib/systemd/mkosi-check-and-shutdown.sh
Labels: mkosi

ukify: add riscv32 to --efi-arch
  src/ukify/ukify.py
Labels: uki

hwdb-util: drop unused value assignment
  src/shared/hwdb-util.c
Labels: util-lib

Fix tense in SD_MESSAGE_SHUTDOWN_STR
  catalog/systemd.catalog.in
Labels: none

boot: Improve log message
  src/boot/efi/boot.c
Labels: sd-boot/sd-stub/bootctl

ukify: fix zboot parsing with zstd
  src/ukify/ukify.py
Labels: uki

libfido2-util: accept cached pin in fido2_generate_hmac_hash()
  src/shared/libfido2-util.c
Labels: util-lib

sysupdate: Update example mode to 644 instead of 444
  man/sysupdate.d.xml
Labels: documentation, sysupdate

man: Update nss-myhostname.xml to reflect files
  man/nss-myhostname.xml
Labels: documentation

shell completion: add kernel-identify/inspect verbs for bootctl
  shell-completion/bash/bootctl
Labels: none

core/device: do not drop backslashes in SYSTEMD_WANTS=/SYSTEMD_USER_WANTS=
  src/core/device.c
Labels: none

hwdb: Make remote controllable lights work out-of-the-box
  hwdb.d/70-lights.hwdb
  hwdb.d/parse_hwdb.py
  rules.d/70-uaccess.rules.in
Labels: hwdb

async: voidify call of fsync()
  src/shared/async.c
Labels: util-lib

meson: Add missing dbus_programs dependency on update-dbus-docs
  man/meson.build
Labels: build-system, documentation, meson

userdb: reset errno before getpwent()
  src/shared/userdb.c
Labels: userdb, util-lib

docs/CONTROL_GROUP_INTERFACE: fix typo
  docs/CONTROL_GROUP_INTERFACE.md
Labels: documentation

ci: Switch to Ubuntu 24.04
  .github/workflows/build_test.sh
  .github/workflows/build_test.yml
  .github/workflows/cflite_pr.yml
  .github/workflows/cifuzz.yml
  .github/workflows/codeql.yml
  .github/workflows/coverity.yml
  .github/workflows/development_freeze.yml
  .github/workflows/differential-shellcheck.yml
  .github/workflows/gather-pr-metadata.yml
  .github/workflows/issue_labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
  .github/workflows/make_release.yml
  .github/workflows/mkosi.yml
  .github/workflows/scorecards.yml
  .github/workflows/unit_tests.sh
  .github/workflows/unit_tests.yml
  mkosi.images/system/mkosi.conf.d/10-centos/mkosi.conf
Labels: mkosi, tests

homectl: fix typo in help text
  src/home/homectl.c
Labels: none

fuzz: tentatively disable fuzz-compress on oss-fuzz
  src/fuzz/meson.build
Labels: build-system, meson, tests

man: Clarify systemd-notify and sd_notify() PID documentation
  man/sd_notify.xml
  man/systemd-notify.xml
Labels: documentation

dns-stream: only read DNS packet data if we identified the peer properly
  src/resolve/resolved-dns-stream.c
Labels: resolve

docs: Clarify that login1 signals are not emitted for convenience objects
  man/org.freedesktop.login1.xml
Labels: documentation

import-pubring.gpg: add openSUSE build key
  src/import/import-pubring.gpg
Labels: none

sd-id128: gracefully handle systems where kernel keyring access is blocked
  src/libsystemd/sd-id128/sd-id128.c
Labels: sd-id128

missing_sched: add CLONE_PIDFD
  src/basic/missing_sched.h
  src/basic/raw-clone.h
Labels: util-lib

stub: drop PE sections parsing cap
  src/boot/efi/pe.c
Labels: sd-boot/sd-stub/bootctl

systemctl: fix memleak
  src/systemctl/systemctl-is-system-running.c
Labels: systemctl

ukify: print all remaining log-like output to stderr
  src/ukify/ukify.py
Labels: uki

meson: also skip uid/gid check for nobody user/group when id command not found
  meson.build
Labels: build-system, meson

TEST-13-NSPAWN.nss-mymachines: Use negative matching switch
  test/units/testsuite-13.nss-mymachines.sh
Labels: tests

mkosi: add login to packages list on debian/ubuntu
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu.conf
Labels: none

GHA: run mkosi with sudo
  .github/workflows/mkosi.yml
Labels: mkosi, tests

core/service: do not propagate reload for combined RELOADING=1 + READY=1 when notify-reload
  src/core/service.c
Labels: none

timedate: handle gracefully if RTC lost time because of power loss
  src/shared/clock-util.c
  src/timedate/timedated.c
Labels: timedate, util-lib

tmpfiles: fix copypasta in create_symlink() (FIFO -> symlink)
  src/tmpfiles/tmpfiles.c
Labels: none

GHA: run mkosi with sudo
  .github/workflows/mkosi.yml
Labels: mkosi, tests

GHA: unset SUDO env vars when calling mkosi build
  .github/workflows/mkosi.yml
Labels: mkosi, tests

efivars: deal with uncommitted efi variables
  src/basic/efivars.c
Labels: util-lib

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
