Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

udev-builtin-net_id: return earlier when hotplug slot is not found
  src/udev/udev-builtin-net_id.c
Labels: udev

udev-builtin-net_id: split-out pci_get_hotplug_slot() and pci_get_hotplug_slot_from_address()
  src/udev/udev-builtin-net_id.c
Labels: udev

udev-builtin-net_id: split-out get_pci_slot_specifiers()
  src/udev/udev-builtin-net_id.c
Labels: udev

udev-builtin-net_id: split-out pci_get_onboard_index() from dev_pci_onboard()
  src/udev/udev-builtin-net_id.c
Labels: udev

udev: add new builtin net_driver
  rules.d/50-udev-default.rules.in
  src/udev/meson.build
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  src/udev/udev-builtin-net_driver.c
  src/udev/udev-builtin-net_setup_link.c
  src/udev/udev-builtin.c
  src/udev/udev-builtin.h
Labels: build-system, meson, udev

sd-daemon: downgrade log level for library code, use correct errno
  src/libsystemd/sd-daemon/sd-daemon.c
Labels: sd-daemon

sd-daemon: Replace SO_LINGER with shutdown() + recv()
  src/libsystemd/sd-daemon/sd-daemon.c
Labels: sd-daemon

battery-check: parse options before checking for kernel command line
  src/battery-check/battery-check.c
Labels: none

man: document unprivileged is not for reading properties
  man/sd_bus_add_object.xml
Labels: documentation

shared: initialize a couple of values explicitly
  src/libsystemd/sd-journal/journal-file.c
  src/shared/tpm2-util.c
Labels: journal, tpm2, util-lib

resolved: if one transaction completes, expect other transactions within candidate to succeed quickly
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dns-transaction.h
  src/resolve/resolved-timeouts.h
Labels: resolve

analyze: tab fix
  src/analyze/analyze-plot.c
Labels: none

test-loop-block: return -77 on skip in more places
  src/test/test-loop-block.c
Labels: tests

networkd: show wireguard private key read error number
  src/network/netdev/wireguard.c
Labels: network

semaphore: bump timeout
  .semaphore/semaphore.yml
Labels: none

test-capability: CAP_LINUX_IMMUTABLE is not available in unprivileged containers
  src/test/test-capability.c
Labels: tests

test: set nsec3-salt-length=8 in knot.conf
  test/knot-data/knot.conf
Labels: tests

man: update example in systemd-measure.xml (#35506)
  man/systemd-measure.xml
Labels: documentation

systemctl-edit: ignore ENOENT from unit_is_masked()
  src/systemctl/systemctl-edit.c
Labels: systemctl

github: drop workaround and use distro mold
  .github/workflows/build_test.sh
Labels: tests

test-fd-util: skip test when lacking privileges to create a new namespace
  src/test/test-fd-util.c
Labels: tests

test-time-util: do more suppression of time zone checks
  src/test/test-time-util.c
Labels: tests

Revert "semaphore: skip some tests"
  .semaphore/semaphore-runner.sh
Labels: none

test-time-util: fix truncation of usec to sec
  src/test/test-time-util.c
Labels: tests

Fixing VLAN ranges in man systemd.network.
  man/systemd.network.xml
Labels: documentation

manager: add list of subscribers to dump info
  src/core/manager-dump.c
Labels: none

logind: let system-wide idle begin at the time logind was initialized
  src/login/logind-core.c
  src/login/logind.c
  src/login/logind.h
Labels: login

dbus: log disconnect on api and system busses
  src/core/dbus.c
Labels: none

journalctl: honor --quiet with --setup-keys
  src/journal/journalctl.c
  test/units/testsuite-04.fss.sh
Labels: journal, tests

semaphore: skip some tests
  .semaphore/semaphore-runner.sh
Labels: none

manager: add list of subscribers to dump info
  src/core/manager-dump.c
Labels: none

semaphore: bump timeout
  .semaphore/semaphore.yml
Labels: none

test-loop-block: return -77 on skip in more places
  src/test/test-loop-block.c
Labels: tests

test-time-util: do more suppression of time zone checks
  src/test/test-time-util.c
Labels: tests

test-capability: CAP_LINUX_IMMUTABLE is not available in unprivileged containers
  src/test/test-capability.c
Labels: tests

man: document unprivileged is not for reading properties
  man/sd_bus_add_object.xml
Labels: documentation

journalctl: honor --quiet with --setup-keys
  src/journal/journalctl.c
  test/units/testsuite-04.fss.sh
Labels: journal, tests

resolved: if one transaction completes, expect other transactions within candidate to succeed quickly
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dns-transaction.h
  src/resolve/resolved-timeouts.h
Labels: resolve

networkd: show wireguard private key read error number
  src/network/netdev/wireguard.c
Labels: network

systemctl-edit: ignore ENOENT from unit_is_masked()
  src/systemctl/systemctl-edit.c
Labels: systemctl
