Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

coredump: restore compatibility with older patterns
  src/coredump/coredump.c
  test/units/testsuite-74.coredump.sh
Labels: coredump, tests

journald: clarify doc for usage-related values cap (#37528)
  man/journald.conf.xml
Labels: documentation

core/manager: do not pop gc_unit_queue before unit_gc_sweep()
  src/core/manager.c
Labels: none

TEST-73-LOCALE: skip lv keymap and friends
  test/units/testsuite-73.sh
Labels: tests

homed: generate proper error if we cannot create mountpoint for homedir
  src/home/homework-mount.c
Labels: none

coredump: restore compatibility with older patterns
  src/coredump/coredump.c
  test/units/testsuite-74.coredump.sh
Labels: coredump, tests

test: fix test_qdisc_tbf regex with iproute2 v6.15
  test/test-network/systemd-networkd-tests.py
Labels: tests

journald: clarify doc for usage-related values cap (#37528)
  man/journald.conf.xml
Labels: documentation

test: fix TEST-84-STORAGETM with nvme-cli < 2.7
  test/units/testsuite-84.sh
Labels: tests

coredump: get rid of _META_MANDATORY_MAX
  src/coredump/coredump.c
Labels: coredump

coredump: use %d in kernel core pattern
  man/systemd-coredump.xml
  src/coredump/coredump.c
  sysctl.d/50-coredump.conf.in
  test/units/testsuite-74.coredump.sh
Labels: coredump, documentation, tests

coredump: also stop forwarding non-dumpable processes
  src/coredump/coredump.c
Labels: coredump

coredump: get rid of a bogus assertion
  src/coredump/coredump.c
Labels: coredump

coredump: get rid of _META_MANDATORY_MAX
  src/coredump/coredump.c
Labels: coredump

coredump: use %d in kernel core pattern
  man/systemd-coredump.xml
  src/coredump/coredump.c
  sysctl.d/50-coredump.conf.in
  test/units/testsuite-74.coredump.sh
Labels: coredump, documentation, tests

coredump: get rid of a bogus assertion
  src/coredump/coredump.c
Labels: coredump

man: remove version-info.xml tag, does not exist on this branch
  man/systemd-coredump.xml
Labels: coredump, documentation

man: remove version-info.xml tag, does not exist on this branch
  man/systemd-coredump.xml
Labels: coredump, documentation

man: add v257 tag
  man/version-info.xml
Labels: documentation

man: fix copy-and-paste error
  man/version-info.xml
Labels: documentation

Revert "man: remove version-info.xml tag, does not exist on this branch"
  man/systemd-coredump.xml
Labels: coredump, documentation

man: add several future version info tags
  man/version-info.xml
Labels: documentation

Revert "macro: terminate the temporary VA_ARGS_FOREACH() array with a sentinel"
  src/basic/macro.h
Labels: util-lib

basic/macro: add macro to iterate variadic args
  src/basic/macro.h
Labels: util-lib

coredump: restore compatibility with older patterns
  src/coredump/coredump.c
Labels: coredump

coredump: get rid of _META_MANDATORY_MAX
  src/coredump/coredump.c
Labels: coredump

coredump: use %d in kernel core pattern
  man/systemd-coredump.xml
  src/coredump/coredump.c
  sysctl.d/50-coredump.conf.in
Labels: coredump, documentation

coredump: get rid of a bogus assertion
  src/coredump/coredump.c
Labels: coredump

basic/macro: add macro to iterate variadic args
  src/basic/macro.h
Labels: util-lib

coredump: restore compatibility with older patterns
  src/coredump/coredump.c
Labels: coredump

coredump: get rid of _META_MANDATORY_MAX
  src/coredump/coredump.c
Labels: coredump

coredump: use %d in kernel core pattern
  src/coredump/coredump.c
  sysctl.d/50-coredump.conf.in
Labels: coredump

coredump: get rid of a bogus assertion
  src/coredump/coredump.c
Labels: coredump

sd-journal: fix typo in function name
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal

sd-journal: make journal_file_read_tail_timestamp() notify to the caller that some new journal entries added
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal

sd-journal: cache last entry offset and journal file state
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal

sd-journal: introduce SD_JOURNAL_ASSUME_IMMUTABLE flag
  src/libsystemd/sd-journal/sd-journal.c
  src/systemd/sd-journal.h
Labels: journal

logs-show: get timestamp and boot ID only when necessary
  src/shared/logs-show.c
Labels: util-lib

sd-journal: drop to use Hashmap to manage journal files per boot ID
  src/libsystemd/sd-journal/journal-internal.h
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal

tree-wide: set SD_JOURNAL_ASSUME_IMMUTABLE where appropriate
  src/coredump/coredumpctl.c
  src/journal-remote/fuzz-journal-remote.c
  src/journal-remote/journal-upload.c
  src/journal/journalctl.c
  src/journal/test-journal-stream.c
  src/libsystemd/sd-journal/test-journal-enum.c
  src/libsystemd/sd-journal/test-journal-init.c
  src/libsystemd/sd-journal/test-journal-match.c
  src/network/networkctl.c
  src/shared/journal-util.c
  src/shared/journal-util.h
  src/shared/logs-show.c
Labels: coredump, journal, journal-remote, network, tests, util-lib

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
