Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

docs: Clarify that login1 signals are not emitted for convenience objects
  man/org.freedesktop.login1.xml
Labels: documentation

hwdb: Make remote controllable lights work out-of-the-box
  hwdb.d/70-lights.hwdb
  hwdb.d/parse_hwdb.py
  rules.d/70-uaccess.rules.in
Labels: hwdb

missing_sched: add CLONE_PIDFD
  src/basic/missing_sched.h
  src/basic/raw-clone.h
Labels: util-lib

timedate: handle gracefully if RTC lost time because of power loss
  src/shared/clock-util.c
  src/timedate/timedated.c
Labels: timedate, util-lib

systemctl: fix memleak
  src/systemctl/systemctl-is-system-running.c
Labels: systemctl

man: also fix documentation of start-limit-hit
  man/org.freedesktop.systemd1.xml
Labels: documentation

ukify: do not fail if pefile complains about hardcoded 256MB limit
  src/ukify/ukify.py
Labels: uki

stub: drop PE sections parsing cap
  src/boot/efi/pe.c
Labels: sd-boot/sd-stub/bootctl

stub: Mention that VirtualSize should be <= SizeOfRawData
  man/systemd-stub.xml
Labels: documentation

import-pubring.gpg: add openSUSE build key
  src/import/import-pubring.gpg
Labels: none

async: voidify call of fsync()
  src/shared/async.c
Labels: util-lib

docs: Fix some confusing wording in various D-Bus docs
  man/org.freedesktop.locale1.xml
  man/org.freedesktop.login1.xml
  man/org.freedesktop.timedate1.xml
Labels: documentation, timedate

Update footer.html to 2025
  docs/_includes/footer.html
Labels: none

libfido2-util: accept cached pin in fido2_generate_hmac_hash()
  src/shared/libfido2-util.c
Labels: util-lib

machine-id-setup: bhyve also provides a uuid
  src/shared/machine-id-setup.c
Labels: util-lib

hwdb-util: drop unused value assignment
  src/shared/hwdb-util.c
Labels: util-lib

core/condition: fix segfault when key not found in os-release
  man/systemd.unit.xml
  src/shared/condition.c
  src/test/test-condition.c
Labels: documentation, tests, util-lib

sd-id128: gracefully handle systems where kernel keyring access is blocked
  src/libsystemd/sd-id128/sd-id128.c
Labels: sd-id128

core/job: never consider reload jobs redundant
  src/core/job.c
Labels: none

test-network: add test case for requesting routing policy rules by multiple interfaces
  test/test-network/conf/25-routing-policy-rule-manual.network
  test/test-network/systemd-networkd-tests.py
Labels: tests

ukify: add loongarch64 to --efi-arch
  src/ukify/ukify.py
Labels: uki

resolved: fix DNSSEC `missing-key` error
  src/resolve/resolved-dns-dnssec.c
Labels: resolve

meson: Skip getent when it's not found
  meson.build
Labels: build-system, meson

Fix tense in SD_MESSAGE_SHUTDOWN_STR
  catalog/systemd.catalog.in
Labels: none

linux: import input.h and friends
  src/basic/linux/input-event-codes.h
  src/basic/linux/input.h
Labels: util-lib

random-util: fix compilation error
  src/basic/random-util.c
Labels: util-lib

bus-wait-for-jobs: fix service result table
  src/shared/bus-wait-for-jobs.c
Labels: util-lib

meson: generate keyboard-keys-list from local input.h
  src/udev/generate-keyboard-keys-list.sh
  src/udev/meson.build
Labels: build-system, meson, udev

man: Clarify systemd-notify and sd_notify() PID documentation
  man/sd_notify.xml
  man/systemd-notify.xml
Labels: documentation

GHA: install makepkg manually
  .github/workflows/mkosi.yml
Labels: mkosi, tests

fuzz: decompress_startswith() may return zero
  src/fuzz/fuzz-compress.c
  test/fuzz/.gitattributes
  test/fuzz/fuzz-compress/issue-36472
Labels: tests

copy: Invoke hardlink context cleanup before restoring timestamps
  src/shared/copy.c
Labels: util-lib

recurse-dir: fix wrong assertion and error code in log
  src/basic/recurse-dir.c
Labels: util-lib

repart: Fix unused variable warning
  src/partition/repart.c
Labels: repart

resolved: pick up new DNSSEC KSC from 2024
  src/resolve/resolved-dns-trust-anchor.c
Labels: resolve

homectl: fix typo in man page
  man/homectl.xml
Labels: documentation

mkosi: skip repo keys checks
  .github/workflows/mkosi.yml
Labels: mkosi, tests

dns-stream: only read DNS packet data if we identified the peer properly
  src/resolve/resolved-dns-stream.c
Labels: resolve

ukify: switch from zstd to zstandard
  src/ukify/ukify.py
Labels: uki

dissect: fix log_debug_errno assert due to r=0
  src/shared/dissect-image.c
Labels: util-lib
