Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

network-generator: vlan= can be specified multiple times
  src/network/generator/network-generator.c
  src/network/generator/network-generator.h
  src/network/generator/test-network-generator.c
Labels: network, tests

resolved: refresh resolv.conf files when link goes away
  src/resolve/resolved-manager.c
Labels: resolve

systemd-update-helper: Show executed commands if debug logging is enabled
  src/rpm/systemd-update-helper.in
Labels: rpm

network-generator: drop wrong warning for rd.peerdns without value
  src/network/generator/network-generator.c
Labels: network

cryptenroll,homectl,journalctl: adjust messages before qrcodes
  src/cryptenroll/cryptenroll-recovery.c
  src/home/homectl-recovery-key.c
Labels: none

TEST-58-REPART: drop duplicated inclusion of util.sh
  test/units/testsuite-58.sh
Labels: tests

sd-id128: mark functions as const, not pure
  src/systemd/sd-id128.h
Labels: none

man: tone down claims on processes having exited already in ExecStop=
  man/systemd.service.xml
Labels: documentation

sd-event: fix memleak when built without assertion
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event

Revert "socket: fix socket activation of stopped services with pinned FD store"
  src/core/socket.c
  test/units/TEST-04-JOURNAL.stopped-socket-activation.sh
Labels: tests

test-terminal-util: print value of colors_enabled()
  src/test/test-terminal-util.c
Labels: tests

sd-common: add __const__
  src/systemd/_sd-common.h
Labels: none

ukify: Require both key and cert be set in generate_keys
  src/ukify/ukify.py
Labels: uki

sd-bus: make bus_add_match_full accept timeout
  src/libsystemd/sd-bus/bus-control.c
  src/libsystemd/sd-bus/bus-control.h
  src/libsystemd/sd-bus/bus-internal.h
  src/libsystemd/sd-bus/sd-bus.c
Labels: sd-bus

core/unit: add get_timeout_start_usec in UnitVTable and define it for service
  src/core/service.c
  src/core/unit.h
Labels: none

core/unit: increase the NameOwnerChanged/GetNameOwner timeout to the unit's start timeout
  src/core/unit.c
Labels: none

sd-varlink: fix bug when enqueuing messages with fds asynchronously
  src/shared/varlink.c
Labels: util-lib

killall: gracefully handle processes inserted into containers via nsenter -a
  src/basic/cgroup-util.c
  src/shared/killall.c
Labels: util-lib

test: mask tmpfiles.d file shipped by selinux policy package in containers
  test/units/testsuite-22.sh
Labels: tests

hwdb: update to main@{2024-11-28}
  hwdb.d/20-OUI.hwdb
  hwdb.d/20-acpi-vendor.hwdb
  hwdb.d/20-acpi-vendor.hwdb.patch
  hwdb.d/20-pci-vendor-model.hwdb
  hwdb.d/60-keyboard.hwdb
  hwdb.d/60-sensor.hwdb
  hwdb.d/ma-medium.txt
  hwdb.d/ma-small.txt
  hwdb.d/pci.ids
  hwdb.d/pnp_id_registry.csv
Labels: hwdb

userbdctl: show 'mapped' user range only inside of userns
  src/userdb/userdbctl.c
Labels: userdb

nspawn: make sure --private-users-ownership=no and =off work the same way
  src/nspawn/nspawn-settings.c
Labels: nspawn

curl-util: do not configure new io event source when the event loop is already dead
  src/import/curl-util.c
Labels: none

Undeprecate commandline params forcequotacheck, fastboot, and forcefsck
  src/fsck/fsck.c
  src/quotacheck/quotacheck.c
Labels: none

nspawn: improve log message on bad incoming sd_notify() message
  src/nspawn/nspawn.c
Labels: nspawn

cryptenroll: it's called PKCS#11, not PKCS11
  src/cryptenroll/cryptenroll.c
Labels: none

tests: fix access mode of root inode of throw-away container images
  test/units/util.sh
Labels: tests

core/service: service_add_fd_store() consumes passed fd
  src/core/service.c
Labels: none

nspawn: --private-users-ownership= value is called 'chown', not 'own'
  src/nspawn/nspawn.c
Labels: nspawn

nspawn: don't try to unregister a machine we never registered
  src/nspawn/nspawn.c
Labels: nspawn

nspawn: Include arm_fadvise64_64 in syscall allow_list
  src/nspawn/nspawn-seccomp.c
Labels: nspawn

userdbctl: fix counting
  src/userdb/userdbctl.c
Labels: userdb

packit test: switch to 'legacy-ci' branch
  .packit.yml
Labels: none

units: add initrd directory to list of conditions for systemd-confext
  units/systemd-confext.service
Labels: units

execute: free syscall_log hashmap when done
  src/core/execute.c
Labels: none

man/kernel-command-line: fix typo
  man/kernel-command-line.xml
Labels: documentation

cryptenroll: show better log message if slot to wipe does not exist
  src/cryptenroll/cryptenroll-wipe.c
Labels: none

shutdown: close DM block device before issuing DM_DEV_REMOVE ioctl
  src/shutdown/detach-dm.c
Labels: none

pid1: make clear that $WATCHDOG_USEC is set for the shutdown binary, noone else
  src/core/main.c
Labels: none

man: use MIT-0 license for example codes in daemon(7)
  man/daemon.xml
Labels: documentation
