Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

shutdown: handle gracefully if a device disappears while we detach it
  src/shutdown/detach-loopback.c
  src/shutdown/detach-md.c
  src/shutdown/detach-swap.c
Labels: none

homed: don't log error we don't have
  src/home/homed-manager.c
Labels: none

initctl: fix error handling
  src/initctl/initctl.c
Labels: none

test: skip networkd tests if networkd/resolved are disabled at build time
  test/networkd-test.py
  test/test-network/systemd-networkd-tests.py
Labels: tests

analyze: don't connect to bus from analyze test run
  src/core/manager.c
Labels: none

man/systed.swap: update description of implicit deps
  man/systemd.swap.xml
Labels: documentation

man/systemd.exec: reword description of SystemCallFilter=
  man/systemd.exec.xml
Labels: documentation

core/main: log about save_env() error
  src/core/main.c
Labels: none

shell-completion: fix completion of `systemctl --user unset-environment` (#37409)
  shell-completion/zsh/_systemctl.in
Labels: none

flush_ports: flush POSIX message queues properly
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/core/socket.c
Labels: util-lib

fstab-generator: fix options in systemd.mount-extra= arg
  src/fstab-generator/fstab-generator.c
  test/test-fstab-generator/test-19-mounts-from-cmdline.expected/hoge-withx20space.mount
  test/test-fstab-generator/test-20-swap-from-cmdline.expected/dev-sdy3.swap
  test/test-fstab-generator/test-20-swap-from-cmdline.expected/swap.target.wants/dev-sdy3.swap
Labels: fstab-generator, tests

man/sd_bus_slot_set_floating: Improve wording around b parameter
  man/sd_bus_slot_set_floating.xml
Labels: documentation

core/main: correct retval for reexec/switch-root/soft-reboot
  src/core/main.c
Labels: none

udevadm: check number of passed arguments
  src/udev/udevadm-test-builtin.c
Labels: udev

cgroup: whenever we migrate a PID to a unit, explicitly drop unit from empty notification queue
  src/core/cgroup.c
Labels: none

fstab-generator: drop assertions for mount opts
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator

core/main: assign mac_init() retval to r
  src/core/main.c
Labels: none

test-sd-device: limit the number of iterations when testing device parent/child functions
  src/libsystemd/sd-device/test-sd-device.c
Labels: sd-device, tests

man/systemd-remount-fs: fix grammar
  man/systemd-remount-fs.service.xml
Labels: documentation

pager: also check for $SUDO_UID
  man/common-variables.xml
  src/shared/pager.c
Labels: documentation, util-lib

log: fix declaration of log_dispatch_internal()
  src/basic/log.h
Labels: util-lib

busctl: validate argvs on get-property/set-property too
  src/busctl/busctl.c
  test/units/testsuite-74.busctl.sh
Labels: busctl, tests

basic/time-util: fix error handling of clock_nanosleep()
  src/basic/time-util.h
Labels: util-lib

man/systemctl: list-sockets command sorts the result
  man/systemctl.xml
Labels: documentation, systemctl

shared/calendarspec: fix normalization when DST is negative
  src/shared/calendarspec.c
  src/test/test-calendarspec.c
Labels: tests, util-lib

sd-varlink: fix overwrite of loop count
  src/shared/varlink.c
Labels: util-lib

man: add missing fdstore in systemctl clean --what documentation
  man/systemctl.xml
Labels: documentation, systemctl

test-sd-device: limit the number of iterations when testing device parent/child functions
  src/libsystemd/sd-device/test-sd-device.c
Labels: sd-device, tests

manager: explicitly create our private runtime directory
  src/core/core-varlink.c
  src/core/dbus.c
  src/core/manager.c
Labels: none

initctl: fix error handling
  src/initctl/initctl.c
Labels: none

getty-generator: don't use "3270!tty1" when instantiating serial-getty@.service on s390x
  src/getty-generator/getty-generator.c
Labels: none

core/main: log about save_env() error
  src/core/main.c
Labels: none

TEST-73-LOCALE: do not unnecessarily restart systemd-localed
  test/units/testsuite-73.sh
Labels: tests

test: switch to new config keyword for bind9 >= 9.21
  test/units/testsuite-75.sh
Labels: tests

core: fix C type handler for ExitCode property
  src/core/dbus-manager.c
Labels: none

shutdown: handle gracefully if a device disappears while we detach it
  src/shutdown/detach-loopback.c
  src/shutdown/detach-md.c
  src/shutdown/detach-swap.c
Labels: none

man/systemd: fix mapping from SysV runlevel to actual target name
  man/systemd.xml
Labels: documentation

fstab-generator: fix options in systemd.mount-extra= arg
  src/fstab-generator/fstab-generator.c
  test/test-fstab-generator/test-19-mounts-from-cmdline.expected/hoge-withx20space.mount
  test/test-fstab-generator/test-20-swap-from-cmdline.expected/dev-sdy3.swap
  test/test-fstab-generator/test-20-swap-from-cmdline.expected/swap.target.wants/dev-sdy3.swap
Labels: fstab-generator, tests

shared/calendarspec: fix normalization when DST is negative
  src/shared/calendarspec.c
  src/test/test-calendarspec.c
Labels: tests, util-lib

shell-completion: fix completion of `systemctl --user unset-environment` (#37409)
  shell-completion/zsh/_systemctl.in
Labels: none

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
