Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

unit: drop ProtectClock=yes from systemd-udevd.service
  units/systemd-udevd.service.in
Labels: units

cgroup: Rename effective limits internal table
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-unit.c
Labels: none

bus-print-properties: prettify more unset properties
  src/shared/bus-print-properties.c
Labels: util-lib

cgroup: Restrict effective limits with global resource provision
  man/systemd.resource-control.xml
  src/core/cgroup.c
Labels: documentation

cgroup: rename TasksMax structure to CGroupTasksMax
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/load-fragment.c
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/test/test-cgroup-mask.c
Labels: tests

bus-print-properties: ignore CGROUP_LIMIT_MAX for Memory*{Current, Peak}
  src/shared/bus-print-properties.c
Labels: util-lib

test: Convert rlimit test to subtest of generic limit testing
  test/units/testsuite-05.rlimit.sh
  test/units/testsuite-05.service
  test/units/testsuite-05.sh
Labels: tests

test: Add effective cgroup limits testing
  test/units/testsuite-05.effective-limit.sh
  test/units/util.sh
Labels: tests

cgroup: Add EffectiveMemoryMax=, EffectiveMemoryHigh= and EffectiveTasksMax= properties
  man/org.freedesktop.systemd1.xml
  man/systemd.resource-control.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-unit.c
  src/shared/bus-print-properties.c
Labels: documentation, util-lib

core: when switching root remove /run/systemd before executing the binary specified by init=
  src/core/main.c
Labels: none

udev-builtin-path_id: SAS wide ports must have num_phys > 1
  src/udev/udev-builtin-path_id.c
Labels: udev

udev-builtin-path_id: SAS wide ports must have num_phys > 1
  src/udev/udev-builtin-path_id.c
Labels: udev

sd-device: add helper to read a unsigned int attribute
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-device/test-sd-device.c
Labels: sd-device, tests

udev-builtin-path_id: SAS wide ports must have num_phys > 1
  src/udev/udev-builtin-path_id.c
Labels: udev

pcrlock: Take VirtualSize > SizeOfRawData into account
  src/pcrlock/pehash.c
Labels: none

core: don't forget about fallback_smack_process_label
  src/core/exec-invoke.c
Labels: none

qrcode-util: add debug message to show why a qrcode wasn't printed
  src/shared/qrcode-util.c
Labels: util-lib

dissect-image: generate better log message for EUCLEAN dissect error
  src/shared/dissect-image.c
Labels: util-lib

man: `systemd-nspawn(1)`: Fix some typos
  man/systemd-nspawn.xml
Labels: documentation, nspawn

test-execute: update permission of credstore
  src/test/test-execute.c
Labels: tests

docs: don't mention split-usr path anymore
  docs/PASSWORD_AGENTS.md
Labels: documentation

test: add test cases for timestamp with time zone
  test/units/testsuite-65.sh
Labels: tests

mmap-cache: add some stats about files/windows/unused
  src/libsystemd/sd-journal/mmap-cache.c
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal

resolved: refresh resolv.conf files when link goes away
  src/resolve/resolved-manager.c
Labels: resolve

seccomp: allowlist uretprobe() syscall
  src/shared/seccomp-util.c
Labels: util-lib

sd-event: fix memleak when built without assertion
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event

GREEDY_REALLOC_APPEND: Make more type safe
  src/basic/alloc-util.h
Labels: util-lib

network-generator: drop wrong warning for rd.peerdns without value
  src/network/generator/network-generator.c
Labels: network

dissect-image: uppercase first char of dissect error message systematically
  src/shared/dissect-image.c
Labels: util-lib

test: skip TEST-84-STORAGETM if running with bugged libnvme
  test/units/testsuite-84.sh
Labels: tests

portable: do not use SYNTHETIC_ERRNO for sd_bus_error_set_errno()
  src/portable/portable.c
Labels: portable

test: customize /etc/os-release instead of /usr/lib/os-release
  test/units/testsuite-82.sh
Labels: tests

meson: sort includes
  meson.build
Labels: build-system, meson

TEST-19-CGROUP: add test cases for IPAddressAllow=/IPAddressDeny=
  test/units/TEST-19-CGROUP.IPAddressAllow-Deny.sh
  test/units/util.sh
Labels: tests

nspawn: ignore failure in creating /dev/net/tun when --private-network is unspecified
  src/nspawn/nspawn.c
Labels: nspawn

test: CET/EET are deprecated, use Europe/Berlin and Kyiv
  src/test/test-calendarspec.c
  test/test-functions
  test/units/testsuite-65.sh
  test/units/testsuite-74.firstboot.sh
Labels: tests

udev: skipping empty udev rules file while collecting the stats
  src/shared/conf-parser.c
Labels: util-lib

mmap-cache: enforce an unused windows minimum
  src/libsystemd/sd-journal/mmap-cache.c
Labels: journal

docs/DESKTOP_ENVIRONMENTS: clarify name aliases
  docs/DESKTOP_ENVIRONMENTS.md
Labels: documentation

test-dhcp6: terminate fqdn option
  src/libsystemd-network/test-dhcp6-client.c
Labels: network, tests

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
