Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

dbus: log disconnect on api and system busses
  src/core/dbus.c
Labels: none

sd-daemon: downgrade log level for library code, use correct errno
  src/libsystemd/sd-daemon/sd-daemon.c
Labels: sd-daemon

test-time-util: fix truncation of usec to sec
  src/test/test-time-util.c
Labels: tests

semaphore: skip some tests
  .semaphore/semaphore-runner.sh
Labels: none

Revert "semaphore: skip some tests"
  .semaphore/semaphore-runner.sh
Labels: none

test: set nsec3-salt-length=8 in knot.conf
  test/knot-data/knot.conf
Labels: tests

Fixing VLAN ranges in man systemd.network.
  man/systemd.network.xml
Labels: documentation

battery-check: parse options before checking for kernel command line
  src/battery-check/battery-check.c
Labels: none

logind: let system-wide idle begin at the time logind was initialized
  src/login/logind-core.c
  src/login/logind.c
  src/login/logind.h
Labels: login

test-fd-util: skip test when lacking privileges to create a new namespace
  src/test/test-fd-util.c
Labels: tests

shared: initialize a couple of values explicitly
  src/libsystemd/sd-journal/journal-file.c
Labels: journal

sd-daemon: Replace SO_LINGER with shutdown() + recv()
  src/libsystemd/sd-daemon/sd-daemon.c
Labels: sd-daemon

tpm2-util: Also retry unsealing after policy_pcr returns PCR_CHANGED
  src/shared/tpm2-util.c
Labels: tpm2, util-lib

tpm2-util: Also retry unsealing after policy_pcr returns PCR_CHANGED
  src/shared/tpm2-util.c
Labels: tpm2, util-lib

test: answer 2nd mdadm --create question for compat with new version
  test/units/testsuite-64.sh
  test/units/testsuite-74.bootctl.sh
Labels: tests

machine: GC machine when no leader PID is set
  src/machine/machine.c
Labels: none

shared/hibernate-util: handle the case where no swap has available backing dev
  src/shared/hibernate-util.c
Labels: util-lib

core: fix assert when AddDependencyUnitFiles is called with invalid parameter
  src/core/dbus-manager.c
Labels: none

shared/hibernate-util: don't attempt to fiemap fd if no backing dev available
  src/shared/hibernate-util.c
Labels: util-lib

locale-setup: do not load locale from environemnt when /etc/locale.conf is unchanged
  src/shared/locale-setup.c
Labels: util-lib

core/unit-serialize: fix serialization of markers
  src/core/unit-serialize.c
Labels: none

sd-device: add missing debugging log
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device

repart: Use streq_ptr()
  src/partition/repart.c
Labels: repart

stdio-bridge: fix polled fds
  src/stdio-bridge/stdio-bridge.c
Labels: none

hwdb: comment out the entry for Logitech MX Keys for Mac
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

core: fix assert when AddDependencyUnitFiles is called with invalid parameter
  src/core/dbus-manager.c
Labels: none

core/unit-serialize: fix serialization of markers
  src/core/unit-serialize.c
Labels: none

test: answer 2nd mdadm --create question for compat with new version
  test/units/testsuite-64.sh
  test/units/testsuite-74.bootctl.sh
Labels: tests

stdio-bridge: fix polled fds
  src/stdio-bridge/stdio-bridge.c
Labels: none

hwdb: comment out the entry for Logitech MX Keys for Mac
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

locale-setup: do not load locale from environemnt when /etc/locale.conf is unchanged
  src/shared/locale-setup.c
Labels: util-lib

systemd-pull: support .asc and .sha256.* signature
  man/importctl.xml
  src/import/pull-common.c
  src/import/pull-common.h
Labels: documentation

import-pubring.gpg: add openSUSE build key
  src/import/import-pubring.gpg
Labels: none

journald: reset runtime seqnum data when flushing to system journal
  src/journal/journald-server.c
Labels: journal

journald: close runtime journals before their parent directory removed
  src/journal/journald-server.c
Labels: journal

meson: generate keyboard-keys-list from local input.h
  src/udev/generate-keyboard-keys-list.sh
  src/udev/meson.build
Labels: build-system, meson, udev

process-util: do not unblock unrelated signals while forking
  src/basic/process-util.c
Labels: util-lib

udev-watch: do not try to remove invalid watch handle
  src/udev/udev-watch.c
Labels: udev

copy: Invoke hardlink context cleanup before restoring timestamps
  src/shared/copy.c
Labels: util-lib

core: add trigger to path unit debug log
  src/core/path.c
Labels: none

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
