Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

man/pstore.conf: pstore.conf template is not always installed in /etc
  man/pstore.conf.xml
Labels: documentation

test-network: replace symlink to 99-default.link with a copy
  test/meson.build
  test/test-network/conf/25-default.link
Labels: build-system, meson, tests

umount: do not move busy network mounts
  src/shutdown/umount.c
  src/shutdown/umount.h
Labels: none

bless-boot: switch from last_path_component() to path_find_last_component()
  src/bless-boot/bless-boot.c
Labels: none

bless-boot: in "status" output report bad state from prev boot as "dirty"
  man/systemd-bless-boot.service.xml
  src/bless-boot/bless-boot.c
Labels: documentation

bless-boot: never try to rename an entry file onto itself
  src/bless-boot/bless-boot.c
Labels: none

meson: Ensure that distribution packages own systemenvgeneratordir
  src/core/meson.build
Labels: build-system, meson

test-execute: prominently show which test we are about to enter
  src/test/test-execute.c
Labels: tests

core: fix C type handler for ExitCode property
  src/core/dbus-manager.c
Labels: none

man/systemd: fix mapping from SysV runlevel to actual target name
  man/systemd.xml
Labels: documentation

man/network: clarify SR-IOV section description and usage
  man/systemd.link.xml
Labels: documentation

man/systemd.exec: reword description of RestrictAddressFamilies=
  man/systemd.exec.xml
Labels: documentation

getty-generator: don't use "3270!tty1" when instantiating serial-getty@.service on s390x
  src/getty-generator/getty-generator.c
Labels: none

man/sd_bus_emit_signal: Fix extra const for strv functions
  man/sd_bus_emit_signal.xml
Labels: documentation

sd-varlink: refuse accepting more than 253 fds to send along with a Varlink message
  src/shared/varlink.c
Labels: util-lib

test-specifier: replace /dev/initctl with /dev/fd
  src/test/test-specifier.c
Labels: tests

docs/MEMORY_PRESSURE: Replace incorrect "packages" with correct "pages"
  docs/MEMORY_PRESSURE.md
Labels: documentation

core/exec-invoke: never override acquired user cred with fallback one
  src/core/exec-invoke.c
Labels: none

systemct: show all in output of systemctl clean --what=help
  src/systemctl/systemctl.c
Labels: systemctl

locale-util: fix argument for munmap()
  src/basic/locale-util.c
Labels: util-lib

man: reword the description of "secure pager" handling
  man/common-variables.xml
Labels: documentation

man: fix typo in org.freedesktop.systemd1.xml
  man/org.freedesktop.systemd1.xml
Labels: documentation

test: replace deprecated --hostid= with --hostnqn=
  test/units/testsuite-84.sh
Labels: tests

man/systemctl: add preposition for clarity
  man/systemctl.xml
Labels: documentation, systemctl

man/timedatectl: add reference to systemd.time(7)
  man/timedatectl.xml
Labels: documentation, timedate

manager: explicitly create our private runtime directory
  src/core/core-varlink.c
  src/core/dbus.c
  src/core/manager.c
Labels: none

sd-daemon: add fd array size safety check to sd_notify_with_fds()
  man/sd_notify.xml
  src/basic/missing_socket.h
  src/libsystemd/sd-daemon/sd-daemon.c
  src/notify/notify.c
Labels: documentation, sd-daemon, util-lib

udev: update log messages
  src/udev/udev-manager.c
Labels: udev

test: skip TEST-75-RESOLVED if resolved is disabled at build time
  test/units/testsuite-75.sh
Labels: tests

umount: do not move busy network mounts
  src/shutdown/umount.c
  src/shutdown/umount.h
Labels: none

man/network: Note .link early boot caveat, and .network .netdev usage.
  man/systemd-networkd.service.xml
  man/systemd.link.xml
  man/systemd.network.xml
Labels: documentation

TEST-73-LOCALE: do not unnecessarily restart systemd-localed
  test/units/testsuite-73.sh
Labels: tests

test: switch to new config keyword for bind9 >= 9.21
  test/units/testsuite-75.sh
Labels: tests

core: not sure why but TTYRows/TTYColumns property is 16bit towards outside, 32bit inside, handle that properly
  src/core/dbus-execute.c
Labels: none

test: pass verbose option to nvme-cli
  test/units/testsuite-84.sh
Labels: tests

man: note for systemctl clean --what that commas separate values
  man/systemctl.xml
Labels: documentation, systemctl

CI: undo mkosi.yml overwrite of systemd tools from main
  .github/workflows/mkosi.yml
Labels: mkosi, tests

man: rework the description of $SYSTEMD_PAGER and $PAGER
  man/common-variables.xml
Labels: documentation

sd_bus_open_user_machine(): Don't shortcut without necessary env
  src/libsystemd/sd-bus/sd-bus.c
Labels: sd-bus

core/main: preemptively check existence of init only if we're switching root
  src/core/main.c
Labels: none
