Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

Fix maybe-uninitialized warnings with gcc 14.2
  src/resolve/resolved-bus.c
Labels: resolve

cryptenroll,homectl,journalctl: adjust messages before qrcodes
  src/cryptenroll/cryptenroll-recovery.c
  src/home/homectl-recovery-key.c
Labels: none

core: Log in more scenarios about which process initiated an operation
  src/core/dbus-manager.c
Labels: none

resolved: fix fastopen fallback
  src/resolve/resolved-dns-stream.c
Labels: resolve

docs/DESKTOP_ENVIRONMENTS: fix formatting
  docs/DESKTOP_ENVIRONMENTS.md
Labels: documentation

bsod: do not check for color support
  src/journal/bsod.c
  src/shared/qrcode-util.c
  src/shared/qrcode-util.h
Labels: bsod, journal, util-lib

man: `machinectl(1)`: Fix description of subcommand `poweroff`
  man/machinectl.xml
Labels: documentation

TEST-17-UDEV: Don't hardcode root device name
  test/units/testsuite-17.01.sh
  test/units/testsuite-17.06.sh
Labels: tests

resolved: log error messages for openssl/gnutls context creation
  src/resolve/resolved-dnstls-gnutls.c
  src/resolve/resolved-dnstls-openssl.c
Labels: resolve

journalctl: erase verify key before free
  src/journal/journalctl.c
Labels: journal

hwdb: update to main@{2024-11-12}
  hwdb.d/20-OUI.hwdb
  hwdb.d/20-acpi-vendor.hwdb
  hwdb.d/20-acpi-vendor.hwdb.patch
  hwdb.d/20-pci-vendor-model.hwdb
  hwdb.d/20-usb-vendor-model.hwdb
  hwdb.d/60-autosuspend-fingerprint-reader.hwdb
  hwdb.d/60-keyboard.hwdb
  hwdb.d/60-sensor.hwdb
  hwdb.d/70-av-production.hwdb
  hwdb.d/70-mouse.hwdb
  hwdb.d/acpi_id_registry.csv
  hwdb.d/ma-medium.txt
  hwdb.d/ma-small.txt
  hwdb.d/pci.ids
  hwdb.d/pnp_id_registry.csv
  hwdb.d/usb.ids
Labels: hwdb

mkosi: disable slow tests
  .github/workflows/mkosi.yml
Labels: mkosi, tests

core/cgroup: fix IPAddressAllow=/IPAddressDeny= set through DBus
  src/core/dbus-cgroup.c
Labels: none

shutdown: replace unbounded fsync() with bounded sync_with_progress()
  src/shutdown/detach-dm.c
  src/shutdown/detach-loopback.c
  src/shutdown/detach-md.c
Labels: none

core: Bump log level of reexecute request to notice
  src/core/dbus-manager.c
Labels: none

core: make mount(8) and swapon(8) inherit SMACK label from systemd
  src/core/mount.c
  src/core/swap.c
Labels: none

login: fix session_kill(..., KILL_LEADER,...) (#35105)
  src/login/logind-session.c
Labels: login

network/tunnel: allow Local=/Remote=any for all tunnel types
  src/network/netdev/tunnel.c
Labels: network

man: document preference for secure_getenv() in coding style
  docs/CODING_STYLE.md
Labels: documentation

ukify: Fix systemd-measure detection in tests
  src/ukify/test/test_ukify.py
Labels: none

boot: allocate cleanup pages below 4GiB only on x86
  src/boot/efi/stub.c
Labels: sd-boot/sd-stub/bootctl

man: don't claim SELinuxContext= only worked in the system service manager
  man/systemd.exec.xml
Labels: documentation

ukify: Require both key and cert be set in generate_keys
  src/ukify/ukify.py
Labels: uki

posix_spawn_wrapper: do not set POSIX_SPAWN_SETSIGDEF flag
  src/basic/process-util.c
Labels: util-lib

docs: add a missing : character
  docs/ENVIRONMENT.md
Labels: documentation

analyze: Add times in seconds for Activating and Activated in tooltip
  src/analyze/analyze-plot.c
Labels: none

qrcode-util: avoid memleak in error path
  src/shared/qrcode-util.c
Labels: util-lib

pcrlock: Pad pe hash to a multiple of 8 bytes
  src/pcrlock/pehash.c
Labels: none

sd-common: add __const__
  src/systemd/_sd-common.h
Labels: none

systemd-update-helper: Show executed commands if debug logging is enabled
  src/rpm/systemd-update-helper.in
Labels: rpm

sd-id128: mark functions as const, not pure
  src/systemd/sd-id128.h
Labels: none

doc-sync: strip point release from version before uploading
  tools/sync-docs.py
Labels: none

man: tone down claims on processes having exited already in ExecStop=
  man/systemd.service.xml
Labels: documentation

man: document that .path units don't care for hidden files
  man/systemd.path.xml
Labels: documentation

core/namespace: honor MountEntry.read_only, .options, and so on in static entries
  src/core/namespace.c
  test/units/testsuite-07.exec-context.sh
Labels: tests

network-generator: vlan= can be specified multiple times
  src/network/generator/network-generator.c
  src/network/generator/network-generator.h
  src/network/generator/test-network-generator.c
Labels: network, tests

shutdown: teach sync_with_progress() to optionally sync a specific fd only
  src/shared/async.c
  src/shared/async.h
  src/shutdown/shutdown.c
  src/shutdown/shutdown.h
Labels: util-lib

sysv-generator: break long message into lines
  src/sysv-generator/sysv-generator.c
Labels: sysv-generator, sysvcompat

networkd: raise limits on number of address 8x
  src/network/networkd-address.c
Labels: network

udev: do not try to lock whole block device on remove event
  src/udev/udev-watch.c
  src/udev/udev-worker.c
Labels: udev

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
