Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

test-specifier: replace /dev/initctl with /dev/fd
  src/test/test-specifier.c
Labels: tests

sd-varlink: refuse accepting more than 253 fds to send along with a Varlink message
  src/shared/varlink.c
Labels: util-lib

analyze: don't connect to bus from analyze test run
  src/core/manager.c
Labels: none

man/systemd-remount-fs: fix grammar
  man/systemd-remount-fs.service.xml
Labels: documentation

man/sd_bus_slot_set_floating: Improve wording around b parameter
  man/sd_bus_slot_set_floating.xml
Labels: documentation

core: not sure why but TTYRows/TTYColumns property is 16bit towards outside, 32bit inside, handle that properly
  src/core/dbus-execute.c
Labels: none

man/systemctl: list-sockets command sorts the result
  man/systemctl.xml
Labels: documentation, systemctl

test: skip TEST-75-RESOLVED if resolved is disabled at build time
  test/units/testsuite-75.sh
Labels: tests

fstab-generator: drop assertions for mount opts
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator

man: rework the description of $SYSTEMD_PAGER and $PAGER
  man/common-variables.xml
Labels: documentation

sd_bus_open_user_machine(): Don't shortcut without necessary env
  src/libsystemd/sd-bus/sd-bus.c
Labels: sd-bus

man/network: Note .link early boot caveat, and .network .netdev usage.
  man/systemd-networkd.service.xml
  man/systemd.link.xml
  man/systemd.network.xml
Labels: documentation

man: reword the description of "secure pager" handling
  man/common-variables.xml
Labels: documentation

test: skip networkd tests if networkd/resolved are disabled at build time
  test/networkd-test.py
  test/test-network/systemd-networkd-tests.py
Labels: tests

docs/MEMORY_PRESSURE: Replace incorrect "packages" with correct "pages"
  docs/MEMORY_PRESSURE.md
Labels: documentation

man/sd_bus_emit_signal: Fix extra const for strv functions
  man/sd_bus_emit_signal.xml
Labels: documentation

locale-util: fix argument for munmap()
  src/basic/locale-util.c
Labels: util-lib

umount: do not move busy network mounts
  src/shutdown/umount.c
  src/shutdown/umount.h
Labels: none

man/systemctl: add preposition for clarity
  man/systemctl.xml
Labels: documentation, systemctl

core/main: correct retval for reexec/switch-root/soft-reboot
  src/core/main.c
Labels: none

pager: also check for $SUDO_UID
  man/common-variables.xml
  src/shared/pager.c
Labels: documentation, util-lib

man/systed.swap: update description of implicit deps
  man/systemd.swap.xml
Labels: documentation

core/main: assign mac_init() retval to r
  src/core/main.c
Labels: none

CI: undo mkosi.yml overwrite of systemd tools from main
  .github/workflows/mkosi.yml
Labels: mkosi, tests

man: fix typo in org.freedesktop.systemd1.xml
  man/org.freedesktop.systemd1.xml
Labels: documentation

man/network: clarify SR-IOV section description and usage
  man/systemd.link.xml
Labels: documentation

busctl: validate argvs on get-property/set-property too
  src/busctl/busctl.c
  test/units/testsuite-74.busctl.sh
Labels: busctl, tests

test-execute: prominently show which test we are about to enter
  src/test/test-execute.c
Labels: tests

log: fix declaration of log_dispatch_internal()
  src/basic/log.h
Labels: util-lib

udevadm: check number of passed arguments
  src/udev/udevadm-test-builtin.c
Labels: udev

meson: Ensure that distribution packages own systemenvgeneratordir
  src/core/meson.build
Labels: build-system, meson

sd-daemon: add fd array size safety check to sd_notify_with_fds()
  man/sd_notify.xml
  src/basic/missing_socket.h
  src/libsystemd/sd-daemon/sd-daemon.c
  src/notify/notify.c
Labels: documentation, sd-daemon, util-lib

homed: don't log error we don't have
  src/home/homed-manager.c
Labels: none

flush_ports: flush POSIX message queues properly
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/core/socket.c
Labels: util-lib

cgroup: whenever we migrate a PID to a unit, explicitly drop unit from empty notification queue
  src/core/cgroup.c
Labels: none

man/systemd-run: --wait shows more than CPU accounting data
  man/systemd-run.xml
Labels: documentation, run

test: fix test_qdisc_tbf regex with iproute2 v6.15
  test/test-network/systemd-networkd-tests.py
Labels: tests

man: correct version information when $REMOTE_ADDR/$REMOTE_PORT where added
  man/systemd.exec.xml
Labels: documentation

TEST-73-LOCALE: skip lv keymap and friends
  test/units/testsuite-73.sh
Labels: tests

homed: generate proper error if we cannot create mountpoint for homedir
  src/home/homework-mount.c
Labels: none
