Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

mkosi: add login to packages list on debian/ubuntu
  mkosi.presets/20-final/mkosi.conf.d/10-debian-ubuntu.conf
Labels: none

serialize: don#t allocate 1M on the stack just like that
  src/shared/serialize.c
Labels: util-lib

mkosi: add libz1 to packages list on opensuse
  mkosi.presets/00-base/mkosi.conf.d/10-opensuse.conf
Labels: none

tools/dbus_exporter: set LD_ORIGIN_PATH if procfs is not available
  tools/dbus_exporter.py
Labels: none

core/device: do not drop backslashes in SYSTEMD_WANTS=/SYSTEMD_USER_WANTS=
  src/core/device.c
Labels: none

mkosi: disable secure boot check as GHA cannot enable it due to hyperv bug
  mkosi.presets/20-final/mkosi.extra/usr/lib/systemd/mkosi-check-and-shutdown.sh
Labels: mkosi

udev-watch: do not try to remove invalid watch handle
  src/udev/udev-watch.c
Labels: udev

userdb: reset errno before getpwent()
  src/shared/userdb.c
Labels: userdb, util-lib

import/pull-tar: fix flag set
  src/import/pull-tar.c
Labels: none

udev-watch: mention that the failure is ignored
  src/udev/udev-watch.c
Labels: udev

ukify: fix zboot parsing with zstd
  src/ukify/ukify.py
Labels: uki

ci: Switch to Ubuntu 24.04
  .github/workflows/build_test.sh
  .github/workflows/build_test.yml
  .github/workflows/cflite_pr.yml
  .github/workflows/cifuzz.yml
  .github/workflows/codeql.yml
  .github/workflows/coverity.yml
  .github/workflows/development_freeze.yml
  .github/workflows/differential-shellcheck.yml
  .github/workflows/gather-pr-metadata.yml
  .github/workflows/issue_labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
  .github/workflows/make_release.yml
  .github/workflows/mkosi.yml
  .github/workflows/scorecards.yml
  mkosi.presets/00-base/mkosi.conf.d/10-centos.conf
Labels: mkosi, tests

core: drop unnecessary auto_fs4.h inclusion
  src/core/automount.c
Labels: none

core/service: do not propagate reload for combined RELOADING=1 + READY=1 when notify-reload
  src/core/service.c
Labels: none

github: drop workaround for mold and LTO
  .github/workflows/build_test.sh
Labels: tests

sysupdate: Don't use compression extension for UKIs in manpage
  man/sysupdate.d.xml
Labels: documentation, sysupdate

ukify: add riscv32 to --efi-arch
  src/ukify/ukify.py
Labels: uki

tools: add loongarch64 to debug-sd-boot script
  tools/debug-sd-boot.sh
Labels: none

sysupdate: Update example mode to 644 instead of 444
  man/sysupdate.d.xml
Labels: documentation, sysupdate

TEST-13-NSPAWN.nss-mymachines: Use negative matching switch
  test/units/testsuite-13.nss-mymachines.sh
Labels: tests

fuzz: tentatively disable fuzz-compress on oss-fuzz
  src/fuzz/meson.build
Labels: build-system, meson, tests

shell completion: add kernel-identify/inspect verbs for bootctl
  shell-completion/bash/bootctl
Labels: none

kbd-model-map: add a georgian mapping
  src/locale/kbd-model-map
Labels: none

hwdb: update to main@{2025-02-07}
  hwdb.d/20-net-ifname.hwdb
  hwdb.d/60-evdev.hwdb
  hwdb.d/60-input-id.hwdb
  hwdb.d/60-keyboard.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb

boot: Improve log message
  src/boot/efi/boot.c
Labels: sd-boot/sd-stub/bootctl

meson: Add missing dbus_programs dependency on update-dbus-docs
  man/meson.build
Labels: build-system, documentation, meson

import: update to current fedora keyring
  src/import/import-pubring.gpg
Labels: none

homectl: fix typo in help text
  src/home/homectl.c
Labels: none

core: add trigger to path unit debug log
  src/core/path.c
Labels: none

man: Update nss-myhostname.xml to reflect files
  man/nss-myhostname.xml
Labels: documentation

99-systemd.rules: rework SYSTEMD_READY logic for device mapper
  rules.d/99-systemd.rules.in
Labels: none

udev: allow/denylist for reading sysfs attributes when composing a NIC name
  man/systemd.net-naming-scheme.xml
  rules.d/75-net-description.rules
  src/shared/netif-naming-scheme.c
  src/shared/netif-naming-scheme.h
  src/udev/udev-builtin-net_id.c
Labels: documentation, udev, util-lib

basic/hashmap: add cleanup of memory pools (#7164)
  src/basic/hashmap.c
Labels: util-lib

sd-bus: fix a memory leak in message_new_reply() (#7636)
  src/libsystemd/sd-bus/bus-message.c
Labels: sd-bus

bus-message: use structured initialization to avoid use of unitialized memory
  src/libsystemd/sd-bus/bus-message.c
Labels: sd-bus

core: add valgrind helper for daemon-reexec
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/main.c
Labels: util-lib

sd-bus: unify three code-paths which free struct bus_container
  src/libsystemd/sd-bus/bus-message.c
Labels: sd-bus

man: coredump.conf template is not always installed in /etc
  man/coredump.conf.xml
Labels: coredump, documentation

man/pstore.conf: pstore.conf template is not always installed in /etc
  man/pstore.conf.xml
Labels: documentation

man: coredump.conf template is not always installed in /etc
  man/coredump.conf.xml
Labels: coredump, documentation
