Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

core/transaction: drop redundant call of bus_unit_validate_load_state()
  src/core/transaction.c
Labels: none

man/systemd.timer: Correct inaccuracy in man page
  man/systemd.timer.xml
Labels: documentation

test: wait for coredump to appear before parsing
  test/units/testsuite-74.coredump.sh
Labels: coredump, tests

socket: downgrade not-supported logging for SO_PASSSEC
  src/core/socket.c
  src/journal/journald-native.c
  src/journal/journald-syslog.c
Labels: journal

console: when switching console modes and one doesn't work, always go for the next
  src/boot/efi/console.c
Labels: sd-boot/sd-stub/bootctl

test: add test case for issue #36031
  test/units/testsuite-23.start-stop-no-reload.sh
Labels: tests

core/transaction: do not override unit load state when unit_load() failed
  src/core/transaction.c
Labels: none

man/systemd.timer: Correct inaccuracy in man page
  man/systemd.timer.xml
Labels: documentation

repart: if partition already exists, required size may not be multiple of grain size
  src/partition/repart.c
Labels: repart

test: escape '+' from uname -r before using in regex via '=~'
  test/units/testsuite-71.sh
Labels: tests

homed: do not log new password when debug logs are enabled
  src/home/homed-home.c
Labels: none

network/link: ENODATA from reading IFLA_MASTER when an interface has no master
  src/network/networkd-link.c
Labels: network

home: Make sure we resolve /etc/skel symlink
  src/home/homework.c
Labels: none

bootctl: fix unclosed quote in debug log
  src/boot/bootctl-install.c
Labels: sd-boot/sd-stub/bootctl

test-network: add test case for issue #37629
  test/test-network/systemd-networkd-tests.py
Labels: tests

core/transaction: fix comment
  src/core/transaction.c
Labels: none

resolved: Tweak link-local addresses relevancy
  src/resolve/resolved-link.c
  src/resolve/resolved-link.h
Labels: resolve

io-util: protect against INT_MAX overflow in flush_fd()
  src/basic/io-util.c
Labels: util-lib

network/link: update state file when master ifindex is changed
  src/network/networkd-link.c
Labels: network

core: introduce Unit.dependency_generation counter and restart loop when dependency is updated in the loop
  src/core/transaction.c
  src/core/unit.c
  src/core/unit.h
Labels: none

compress: prevent divide-by-zero when no data is read (#37706)
  src/basic/compress.c
Labels: util-lib

hwdb: update to v257-stable@{2025-06-25}
  hwdb.d/20-OUI.hwdb
  hwdb.d/20-acpi-vendor.hwdb
  hwdb.d/20-acpi-vendor.hwdb.patch
  hwdb.d/20-dmi-id.hwdb
  hwdb.d/20-pci-vendor-model.hwdb
  hwdb.d/20-usb-vendor-model.hwdb
  hwdb.d/60-autosuspend-fingerprint-reader.hwdb
  hwdb.d/60-autosuspend.hwdb
  hwdb.d/60-evdev.hwdb
  hwdb.d/60-input-id.hwdb
  hwdb.d/60-keyboard.hwdb
  hwdb.d/60-seat.hwdb
  hwdb.d/60-sensor.hwdb
  hwdb.d/70-av-production.hwdb
  hwdb.d/70-hardware-wallets.hwdb
  hwdb.d/70-joystick.hwdb
  hwdb.d/70-lights.hwdb
  hwdb.d/70-maker-tools.hwdb
  hwdb.d/70-mouse.hwdb
  hwdb.d/70-software-radio.hwdb
  hwdb.d/70-sound-card.hwdb
  hwdb.d/70-touchpad.hwdb
  hwdb.d/acpi_id_registry.csv
  hwdb.d/ma-medium.txt
  hwdb.d/ma-small.txt
  hwdb.d/meson.build
  hwdb.d/parse_hwdb.py
  hwdb.d/pci.ids
  hwdb.d/pnp_id_registry.csv
  hwdb.d/usb.ids
Labels: build-system, hwdb, meson

resolved: honour SD_RESOLVED_NO_CNAME flag when processing cache
  src/resolve/resolved-dns-cache.c
Labels: resolve

man: encourage the creation of empty machine-id instead of deleting it
  man/machine-id.xml
Labels: documentation

fstab-generator: set mode=0755 with root=tmpfs
  src/fstab-generator/fstab-generator.c
  test/test-fstab-generator/test-16-tmpfs.expected/sysroot.mount
Labels: fstab-generator, tests

resolve: exit from loop for transactions when transactions has been regenerated
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
Labels: resolve

core/transaction: drop redundant call of bus_unit_validate_load_state()
  src/core/transaction.c
Labels: none

network: fix a potential divide-by-zero (#37705)
  src/network/tc/htb.c
Labels: network

sysupdate: change status once operation has completed
  src/sysupdate/sysupdate.c
Labels: sysupdate

core/transaction: rename ret -> job
  src/core/transaction.c
Labels: none

uki.conf is used by the ukify tool to create an Unified Kernel Image. It would make sense to install it only if ukify is wanted.
  src/kernel-install/meson.build
Labels: build-system, meson

detect-virt: add bare-metal support for GCE
  src/basic/virt.c
Labels: util-lib

detect-virt: add bare-metal support for GCE
  src/basic/virt.c
Labels: util-lib

detect-virt: add bare-metal support for GCE
  src/basic/virt.c
Labels: util-lib

detect-virt: add bare-metal support for GCE
  src/basic/virt.c
Labels: util-lib

detect-virt: add bare-metal support for GCE
  src/basic/virt.c
Labels: util-lib

core/cgroup: Properly handle aborting a pending freeze operation
  src/core/cgroup.c
Labels: none

units: add dep on systemd-logind.service by user@.service
  units/user-runtime-dir@.service.in
  units/user@.service.in
Labels: units

units: add dep on systemd-logind.service by user@.service
  units/user-runtime-dir@.service.in
  units/user@.service.in
Labels: units

units: add dep on systemd-logind.service by user@.service
  units/user-runtime-dir@.service.in
  units/user@.service.in
Labels: units

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
