Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

docs/DESKTOP_ENVIRONMENT: clarify <RANDOM> usage
  docs/DESKTOP_ENVIRONMENTS.md
Labels: documentation

logind: allow read/write to char-hvc devices
  units/systemd-logind.service.in
Labels: units

run: handle gracefully if we can't find binary client-side due to perms
  src/run/run.c
Labels: run

test-dhcp-client: utilize log_info instead of printf
  src/libsystemd-network/test-dhcp-client.c
Labels: network, tests

man: reword comment a bit regarding ExecStartPre= multiple commands
  man/systemd.service.xml
Labels: documentation

bsod: make message for qrcode more useful
  src/journal/bsod.c
  test/units/testsuite-04.bsod.sh
Labels: bsod, journal, tests

time-util: copy input string before fork()
  src/basic/time-util.c
Labels: util-lib

man: document the timeout applied to /usr/lib/systemd/system-shutdown/ drop-in binaries
  man/systemd-poweroff.service.xml
Labels: documentation

meson: add loongarch64's definition to cpu_arch_defines
  meson.build
Labels: build-system, meson

test-sbat: separate the two sbat sections
  src/test/test-sbat.c
Labels: tests

TEST-80-NOTIFYACCESS: don't specify --pid= if MAINPID= is provided explicitly
  test/testsuite-80.units/test.sh
Labels: tests

core/service: use log_unit_* where appropriate
  src/core/service.c
Labels: none

man/systemd-nspawn: emphasise that user namespaces are strongly recommended
  man/systemd-nspawn.xml
Labels: documentation, nspawn

mount: optimize mountinfo traversal by decoupling device discovery
  src/core/mount.c
Labels: none

TEST-60-MOUNT-RATELIMIT: wait for mount unit being started or stopped
  test/units/testsuite-60.sh
Labels: tests

test: fix tool name in comment
  src/ukify/test/test_ukify.py
Labels: none

shutdown: clean up sync_with_progress a bit
  src/shutdown/shutdown.c
Labels: none

test-terminal-util: print value of colors_enabled()
  src/test/test-terminal-util.c
Labels: tests

network/dhcp6: set hostname even if UseAddress=no
  src/network/networkd-dhcp6.c
Labels: network

TEST-58-REPART: drop duplicated inclusion of util.sh
  test/units/testsuite-58.sh
Labels: tests

man: document that PrivateTmp= is unaffected by ProtectSystem=strict
  man/systemd.exec.xml
Labels: documentation

network-generator: parse vlan ID from vlan interface name
  src/network/generator/network-generator.c
  src/network/generator/network-generator.h
  src/network/generator/test-network-generator.c
Labels: network, tests

udev: consider serial ports as unconfigured only if both port and iomem_base sysattr is zero
  rules.d/99-systemd.rules.in
Labels: none

time-util: fix parsing timestamp with NZ timezone
  src/basic/time-util.c
  src/test/test-time-util.c
Labels: tests, util-lib

Revert "socket: fix socket activation of stopped services with pinned FD store"
  src/core/socket.c
  test/units/TEST-04-JOURNAL.stopped-socket-activation.sh
Labels: tests

ci: link systemd-keyutil into place
  .github/workflows/mkosi.yml
Labels: mkosi, tests

test: fix test scripts filename pattern
  test/units/testsuite-07.issue-31752.sh
  test/units/testsuite-19.IPAddressAllow-Deny.sh
Labels: tests

portable: do not use SYNTHETIC_ERRNO for sd_bus_error_set_errno()
  src/portable/portable.c
Labels: portable

man: `systemd-nspawn(1)`: Fix some typos
  man/systemd-nspawn.xml
Labels: documentation, nspawn

core/service: use log_unit_* where appropriate
  src/core/service.c
Labels: none

mkosi: disable slow tests
  .github/workflows/mkosi.yml
Labels: mkosi, tests

test: fix test scripts filename pattern
  test/units/testsuite-74.sysusers.sh
Labels: tests

ci: link systemd-keyutil into place
  .github/workflows/mkosi.yml
Labels: mkosi, tests

networkd: raise limits on number of address 8x
  src/network/networkd-address.c
Labels: network

resolved: log error messages for openssl/gnutls context creation
  src/resolve/resolved-dnstls-gnutls.c
  src/resolve/resolved-dnstls-openssl.c
Labels: resolve

shutdown: clean up sync_with_progress a bit
  src/shutdown/shutdown.c
Labels: none

ukify: Fix systemd-measure detection in tests
  src/ukify/test/test_ukify.py
Labels: none

man/systemd-nspawn: emphasise that user namespaces are strongly recommended
  man/systemd-nspawn.xml
Labels: documentation, nspawn

time-util: copy input string before fork()
  src/basic/time-util.c
Labels: util-lib

hwdb: update to main@{2024-11-12}
  hwdb.d/20-OUI.hwdb
  hwdb.d/20-acpi-vendor.hwdb
  hwdb.d/20-acpi-vendor.hwdb.patch
  hwdb.d/20-pci-vendor-model.hwdb
  hwdb.d/20-usb-vendor-model.hwdb
  hwdb.d/60-autosuspend-fingerprint-reader.hwdb
  hwdb.d/60-keyboard.hwdb
  hwdb.d/60-sensor.hwdb
  hwdb.d/70-av-production.hwdb
  hwdb.d/70-mouse.hwdb
  hwdb.d/acpi_id_registry.csv
  hwdb.d/ma-medium.txt
  hwdb.d/ma-small.txt
  hwdb.d/pci.ids
  hwdb.d/pnp_id_registry.csv
  hwdb.d/usb.ids
Labels: hwdb

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
