Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

import: update to current fedora keyring
  src/import/import-pubring.gpg
Labels: none

udev-watch: mention that the failure is ignored
  src/udev/udev-watch.c
Labels: udev

homectl: fix typo in man page
  man/homectl.xml
Labels: documentation

pe-binary: fix array overrun
  src/shared/pe-binary.c
Labels: util-lib

repart: when using erofs and log level is not debug, use --quiet
  src/partition/repart.c
Labels: repart

tmpfiles: fix copypasta in create_symlink() (FIFO -> symlink)
  src/tmpfiles/tmpfiles.c
Labels: none

udev-worker: add debugging log about success of flock() for whole block device
  src/udev/udev-worker.c
Labels: udev

fuzz: decompress_startswith() may return zero
  src/fuzz/fuzz-compress.c
  test/fuzz/.gitattributes
  test/fuzz/fuzz-compress/issue-36472
Labels: tests

sysupdate: Don't use compression extension for UKIs in manpage
  man/sysupdate.d.xml
Labels: documentation, sysupdate

core/job: never consider reload jobs redundant
  src/core/job.c
Labels: none

core/condition: fix segfault when key not found in os-release
  man/systemd.unit.xml
  src/shared/condition.c
  src/test/test-condition.c
Labels: documentation, tests, util-lib

mkosi: skip repo keys checks
  .github/workflows/mkosi.yml
Labels: mkosi, tests

mkosi: Prevent busybox from getting pulled into opensuse images
  mkosi.images/base/mkosi.conf.d/10-opensuse.conf
Labels: none

ukify: add loongarch64 to --efi-arch
  src/ukify/ukify.py
Labels: uki

kbd-model-map: add a georgian mapping
  src/locale/kbd-model-map
Labels: none

hwdb: update to main@{2025-02-07}
  hwdb.d/20-net-ifname.hwdb
  hwdb.d/60-evdev.hwdb
  hwdb.d/60-input-id.hwdb
  hwdb.d/60-keyboard.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb

import/pull-tar: fix flag set
  src/import/pull-tar.c
Labels: none

linux: import input.h and friends
  src/basic/linux/input-event-codes.h
  src/basic/linux/input.h
Labels: util-lib

machine-id-setup: bhyve also provides a uuid
  src/shared/machine-id-setup.c
Labels: util-lib

core: drop unnecessary auto_fs4.h inclusion
  src/core/automount.c
Labels: none

ukify: print debug/progress messages to stderr
  src/ukify/ukify.py
Labels: uki

tools/dbus_exporter: set LD_ORIGIN_PATH if procfs is not available
  tools/dbus_exporter.py
Labels: none

man: also fix documentation of start-limit-hit
  man/org.freedesktop.systemd1.xml
Labels: documentation

GHA: install makepkg manually
  .github/workflows/mkosi.yml
Labels: mkosi, tests

recurse-dir: fix wrong assertion and error code in log
  src/basic/recurse-dir.c
Labels: util-lib

resolved: pick up new DNSSEC KSC from 2024
  src/resolve/resolved-dns-trust-anchor.c
Labels: resolve

mkosi: add libz1 to packages list on opensuse
  mkosi.images/base/mkosi.conf.d/10-opensuse.conf
Labels: none

stub: Mention that VirtualSize should be <= SizeOfRawData
  man/systemd-stub.xml
Labels: documentation

Update footer.html to 2025
  docs/_includes/footer.html
Labels: none

tpm2-setup: add missing O_CLOEXEC at two places
  src/tpm2-setup/tpm2-setup.c
Labels: tpm2

dissect: fix log_debug_errno assert due to r=0
  src/shared/dissect-image.c
Labels: util-lib

resolved: fix DNSSEC `missing-key` error
  src/resolve/resolved-dns-dnssec.c
Labels: resolve

bus-wait-for-jobs: fix service result table
  src/shared/bus-wait-for-jobs.c
Labels: util-lib

efivars: deal with uncommitted efi variables
  src/basic/efivars.c
Labels: util-lib

ukify: switch from zstd to zstandard
  src/ukify/ukify.py
Labels: uki

tools: add loongarch64 to debug-sd-boot script
  tools/debug-sd-boot.sh
Labels: none

meson: Skip getent when it's not found
  meson.build
Labels: build-system, meson

repart: Fix unused variable warning
  src/partition/repart.c
Labels: repart

test-network: add test case for requesting routing policy rules by multiple interfaces
  test/test-network/conf/25-routing-policy-rule-manual.network
  test/test-network/systemd-networkd-tests.py
Labels: tests

random-util: fix compilation error
  src/basic/random-util.c
Labels: util-lib
