Repository openSUSE/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: apparmor, binfmt, bsod, btrfs, build-system, busctl, cgls, cgtop, ci, coccinelle, coredump, documentation, env-generator, escape, debug-generator, fstab-generator, growfs, hibernate-resume, hwdb, journal, journal-remote, l10n üåç, login, meson, mkosi, mountfsd, network, nspawn, nsresource, portable, rc-local-generator, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, sleep, smack, socket-proxy, sysv-generator, systemctl, sysupdate, sysvcompat, sysctl, timedate, timesync, tests, tpm2, udev, uki, units, userdb, util-lib, vconsole, vmspawn, xdg-autostart

GREEDY_REALLOC_APPEND: Make more type safe
  src/basic/alloc-util.h
Labels: util-lib

test: customize /etc/os-release instead of /usr/lib/os-release
  test/units/testsuite-82.sh
Labels: tests

core: Log in more scenarios about which process initiated an operation
  src/core/dbus-manager.c
Labels: none

test: add test cases for timestamp with time zone
  test/units/testsuite-65.sh
Labels: tests

network-generator: parse vlan ID from vlan interface name
  src/network/generator/network-generator.c
  src/network/generator/network-generator.h
  src/network/generator/test-network-generator.c
Labels: network, tests

TEST-19-CGROUP: add test cases for IPAddressAllow=/IPAddressDeny=
  test/units/testsuite-19.IPAddressAllow-Deny.sh
  test/units/util.sh
Labels: tests

docs: add a missing : character
  docs/ENVIRONMENT.md
Labels: documentation

man: `machinectl(1)`: Fix description of subcommand `poweroff`
  man/machinectl.xml
Labels: documentation

man: reword comment a bit regarding ExecStartPre= multiple commands
  man/systemd.service.xml
Labels: documentation

shutdown: teach sync_with_progress() to optionally sync a specific fd only
  src/shared/async.c
  src/shared/async.h
  src/shutdown/shutdown.c
  src/shutdown/shutdown.h
Labels: util-lib

core: Bump log level of reexecute request to notice
  src/core/dbus-manager.c
Labels: none

network/dhcp6: set hostname even if UseAddress=no
  src/network/networkd-dhcp6.c
Labels: network

core/cgroup: fix IPAddressAllow=/IPAddressDeny= set through DBus
  src/core/dbus-cgroup.c
Labels: none

test-execute: update permission of credstore
  src/test/test-execute.c
Labels: tests

man: document preference for secure_getenv() in coding style
  docs/CODING_STYLE.md
Labels: documentation

dissect-image: uppercase first char of dissect error message systematically
  src/shared/dissect-image.c
Labels: util-lib

test-dhcp-client: utilize log_info instead of printf
  src/libsystemd-network/test-dhcp-client.c
Labels: network, tests

boot: allocate cleanup pages below 4GiB only on x86
  src/boot/efi/stub.c
Labels: sd-boot/sd-stub/bootctl

network/tunnel: allow Local=/Remote=any for all tunnel types
  src/network/netdev/tunnel.c
Labels: network

udev: consider serial ports as unconfigured only if both port and iomem_base sysattr is zero
  rules.d/99-systemd.rules.in
Labels: none

TEST-60-MOUNT-RATELIMIT: wait for mount unit being started or stopped
  test/units/testsuite-60.sh
Labels: tests

TEST-80-NOTIFYACCESS: don't specify --pid= if MAINPID= is provided explicitly
  test/testsuite-80.units/test.sh
Labels: tests

Fix maybe-uninitialized warnings with gcc 14.2
  src/resolve/resolved-bus.c
Labels: resolve

dissect-image: generate better log message for EUCLEAN dissect error
  src/shared/dissect-image.c
Labels: util-lib

mount: optimize mountinfo traversal by decoupling device discovery
  src/core/mount.c
Labels: none

test: fix tool name in comment
  src/ukify/test/test_ukify.py
Labels: none

man: document that .path units don't care for hidden files
  man/systemd.path.xml
Labels: documentation

udev: skipping empty udev rules file while collecting the stats
  src/shared/conf-parser.c
Labels: util-lib

run: handle gracefully if we can't find binary client-side due to perms
  src/run/run.c
Labels: run

login: fix session_kill(..., KILL_LEADER,...) (#35105)
  src/login/logind-session.c
Labels: login

shutdown: replace unbounded fsync() with bounded sync_with_progress()
  src/shutdown/detach-dm.c
  src/shutdown/detach-loopback.c
  src/shutdown/detach-md.c
Labels: none

resolved: fix fastopen fallback
  src/resolve/resolved-dns-stream.c
Labels: resolve

meson: sort includes
  meson.build
Labels: build-system, meson

logind: allow read/write to char-hvc devices
  units/systemd-logind.service.in
Labels: units

sysv-generator: break long message into lines
  src/sysv-generator/sysv-generator.c
Labels: sysv-generator, sysvcompat

meson: add loongarch64's definition to cpu_arch_defines
  meson.build
Labels: build-system, meson

journalctl: erase verify key before free
  src/journal/journalctl.c
Labels: journal

seccomp: allowlist uretprobe() syscall
  src/shared/seccomp-util.c
Labels: util-lib

nspawn: ignore failure in creating /dev/net/tun when --private-network is unspecified
  src/nspawn/nspawn.c
Labels: nspawn

test: CET/EET are deprecated, use Europe/Berlin and Kyiv
  src/test/test-calendarspec.c
  test/test-functions
  test/units/testsuite-65.sh
  test/units/testsuite-74.firstboot.sh
Labels: tests

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: '**/*escape*'
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/debug-generator*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
hwdb:
  - changed-files:
    - any-glob-to-any-file: 'hwdb.d/**/*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: 'src/journal-remote/*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
mountfsd:
  - changed-files:
    - any-glob-to-any-file: 'src/mountfsd/*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*']
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
rc-local-generator:
  - changed-files:
    - any-glob-to-any-file: 'src/rc-local-generator/*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
sysv-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv-generator*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysvcompat:
  - changed-files:
    - any-glob-to-any-file: '**/*sysv*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '.github/workflows/*'
  ]
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
